<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TestMode" value="1"/>
		<add key="EncodedUserName" value="am9obg=="/>
		<add key="EncodedPassword" value="Y2pyODYyMA=="/>
		<add key="FTPUser" value = "AUSTFOAM"/>
		<add key="FTPPassword" value = "T@7B6Q87"/>
		<add key="FTPURL" value = "ftp.eec.edictsystems.com/"/>
		<add key="FTPPort" value = "21"/>
		<add key="OutputFolder" value = "\\Automation\d$\Upload\"/>
		<add key="InputFolder" value = "\\Automation\d$\Download\"/>
		<add key="WorkingFolder" value = "\\Automation\d$\Working\"/>
		<add key="RemoteOutputFolder" value = "outbox"/>
		<add key="RemoteInputFolder" value = "inbox"/>
		<add key="RemoteWorkingFolder" value = "transfer"/>
		<add key="RemoteRootFolder" value = "AUSTFOAM"/>
		<add key="ConnectionString" value = "SERVER=SHAGGY;DATABASE=EDIEngine;User=asctracdbo;password=dbo2006"/>
		<!--<add key="SpawnAppPath" value="c:\\Projects\\ftpdt\\bin\\debug\\"/> -->
		<add key="SpawnAppPath" value="EECIPC.exe"/>
		<add key="SpawnAppName" value="EECIPC"/>
		<add key="SegmentDelimiter" value = "|"/>
		<add key="ElementDelimiter" value = "*"/>
		<add key="ClientHost" value="austinfoam.com"/>
		<add key="ClientSender" value="johnreese@austinfoam.com"/>
		<add key="ErrorRecipient1" value="johnreese@austinfoam.com"/>

		<!-- -->

	</appSettings>
</configuration>
