<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Production" connectionString="server=SQL;database=Automation;user=asctracdbo;password=dbo2006;Application Name=CJRST_set_shipped_list" />
    <add name="Test" connectionString="server=localhost;database=Automation;user=asctracdbo;password=dbo2006;Application Name=CJRST_set_shipped_list" />
  </connectionStrings>
  <appSettings>
    <add key="FedexLocalUploadPath" value="\\automation\d$\Upload\Fedex\" />
    <add key="FedexLocalUploadPathTest" value="..\..\..\..\TestFiles\Fedex\Upload" />
    <add key="FedexLocalDownloadPath" value="\\automation\d$\Download\Fedex\" />
    <add key="FedexLocalDownloadPathTest" value="..\..\..\..\TestFiles\Fedex\Download\" />
    <add key="FedexPassword" value="Password1" />
    <add key="FedexUser" value="CJR" />
    <add key="FedexURL" value="ftp://www.ec.fedex.com" />
    <add key="FedexURLTest" value="ftp://localhost/" />
    <add key="Fedex850Inbox" value="OMEGAPO" />
    <add key="Fedex855Outbox" value="OMEGA/OMEGAACK/" />
    <add key="Fedex856Outbox" value="OMEGA/OMEGAASN/" />
    <add key="Fedex810Outbox" value="GOFEDEXASYNC/X12810VU/" />
    <add key="FedexTransfer" value="CJR/" />
    <add key="EdictLocalUploadPath" value="\\automation\d$\Upload\" />
    <add key="EdictLocalUploadPathTest" value="..\..\..\..\TestFiles\Download\" />
    <add key="EdictLocalDownloadPath" value="\\automation\d$\Download\" />
    <add key="EdictLocalDownloadPathTest" value="..\..\..\..\TestFiles\" />
    <add key="EdictPassword" value="T@7B6Q87" />
    <add key="EdictUser" value="AUSTFOAM" />
    <add key="EdictURL" value="ftp://ftp.enterpriseec.com" />
    <add key="EdictURLTest" value="ftp://localhost/" />
    <add key="EdictOutbox" value="TO_EEC/" />
    <add key="EdictOutboxTest" value="test/outbox/" />
    <add key="EdictInbox" value="FR_EEC/" />
    <add key="EdictInboxTest" value="test/inbox/" />
    <add key="EdictTransfer" value="Transfer/" />
    <add key="KeepWindowOpen" value="0" />
    <add key="legacyServerTest" value="JREESELAPTOP" />
    <add key="sytelineServerTest" value="JREESELAPTOP" />
    <add key="amtechServerTest" value="JREESELAPTOP" />
    <add key="automationServerTest" value="JREESELAPTOP" />
    <add key="ediServerTest" value="JREESELAPTOP" />
    <add key="ediServer" value="Shaggy" />
    <add key="legacyServer" value="Shaggy" />
    <add key="sytelineServer" value="SQL" />
    <add key="amtechServer" value="Shaggy" />
    <add key="automationServer" value="SQL" />
    <add key="TestMode" value="0" />
    <add key="TestFTPPath" value="C:\TestFiles\reno\" />
    <add key="TestFTPPathTemp" value="C:\TestFiles\reno\temp\" />
    <add key="TestFTPArchivePath" value="C:\TestFiles\reno\archive\" />
    <add key="WWTOutputPathTest" value="C:\TestFiles\Upload\WWT\" />
    <add key="WWTOutputPathTempTest" value="C:\TestFiles\Working\" />
    <add key="WWTTempPathTest" value="C:\TestFiles\Working\" />
    <add key="ReceiptsFilePathTest" value="C:\TestFiles\Upload\WWT\Original Files\" />
    <add key="UploadFolder" value="\\automation\d$\Upload\" />
    <add key="WorkingFolder" value="C:\TestFiles\Working\" />
    <add key="WWTOutputPathTemp" value="\\Automation\D$\Working\" />
    <add key="WWTOutputPath" value="\\Automation\D$\Upload\WWT\" />
    <add key="WWTInvoicesFile" value="WWTPYMT033108.xls" />
    <add key="SolectronFilePath" value="\\Shaggy\wwt\Solectron\" />
    <add key="SolectronInvoicesFile" value="Invoices.txt" />
    <add key="SolectronConnectionString" value="Driver={Microsoft Text Driver (*.txt; *.csv)};Dbq={path};Extensions=asc,csv,tab,txt;" />
    <add key="WWTArchivePath" value="\\Shaggy\wwt\Original Files\" />
    <add key="FTPPath" value="\\console\d$\FTP\reno\" />
    <add key="FTPPathTemp" value="\\console\d$\FTP\reno\temp\" />
    <add key="FTPArchivePath" value="\\console\d$\FTP\reno\archive\" />
    <add key="FTPArchivePathTemp" value="\\console\d$\FTP\reno\temp\" />
    <add key="ReceiptsFilePath" value="\\Shaggy\wwt\Original Files\" />
    <add key="WWTTempPath" value="\\Automation\D$\Working\" />
    <add key="WWTUploadURLTest" value="http://b2b-test.wwt.com:6555/invoke/DSH_ASN.flowServices/receiveASN" />
    <add key="WWTUploadURL" value="http://b2b.wwt.com:6555/invoke/DSH_ASN.flowServices/receiveASN" />
    <add key="url_host" value="http://amtech" />
    <add key="EncodedUserName" value="d3d0UGFydG5lcg==" />
    <add key="ReportFolder" value="13 - Accounts Receivables" />
    <add key="ReportName" value="New Text WWT Summary Invoice Verify" />
    <add key="ReportNamesyteline" value="Syteline WWT Summary Invoice" />
    <add key="FriendlyReportName" value="Austin Foam Plastics Invoice Summary" />
    <add key="ReportServerURL" value="http://rs/ReportServer" />
    <add key="TestFiles" value="C:\TestFiles\TestFiles\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.2.0" newVersion="2.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>